    <footer>
        <button>Inicio</button>
        <button>Mi Perfil</button>
        <button>Explorador</button>
        <button>Offline</button>
        <button>About US</button>
    </footer>
    <!-- Footer móvil (visible en móviles) -->
<div class="mobile-footer">
    <div class="footer-item active">
      <i class="fas fa-home"></i>
      <span>Inicio</span>
    </div>
    <div class="footer-item">
      <i class="fas fa-user"></i>
      <span>Perfil</span>
    </div>
    <div class="footer-item">
      <i class="fas fa-search"></i>
      <span>Explorador</span>
    </div>
    <div class="footer-item">
      <i class="fas fa-cog"></i>
      <span>Offline</span>
    </div>
    <div class="footer-item">
        <i class="fas fa-cog"></i>
        <span>About Us</span>
      </div>
  </div>

  