<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
<div id="about">
    <img id="logo" src="assets/logohivechefs.png">
    <h1>Sobre Nosotros</h1>
    <p>Lorem ipsum dolor sit amet. Non deleniti ullam aut dolores expedita in natus error et autem quod qui nisi delectus. Et officia nemo a eveniet ipsam sed vitae minima. Nam sunt fugit qui illo voluptatem vel quae aperiam sit possimus pariatur.

      Quo omnis aspernatur aut optio velit rem dolorem molestiae. Aut sequi dolorum eos repellendus quae ut officia pariatur ea eligendi pariatur est asperiores optio ab commodi voluptatem.
      
      Est quia fuga et dolorem maiores eum illo nihil sed iusto quidem. Eos cumque consequatur ex explicabo inventore ut dignissimos sint.</p>
    
      <h2>Nuestro Equipo</h2>
    <p>Lorem ipsum dolor sit amet. Non deleniti ullam aut dolores expedita in natus error et autem quod qui nisi delectus. Et officia nemo a eveniet ipsam sed vitae minima. Nam sunt fugit qui illo voluptatem vel quae aperiam sit possimus pariatur.

      Quo omnis aspernatur aut optio velit rem dolorem molestiae. Aut sequi dolorum eos repellendus quae ut officia pariatur ea eligendi pariatur est asperiores optio ab commodi voluptatem.
      
      Est quia fuga et dolorem maiores eum illo nihil sed iusto quidem. Eos cumque consequatur ex explicabo inventore ut dignissimos sint.
    </p>
    
     <div class="social-icons">
    <a href="#" class="social-link" title="X">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="#" class="social-link" title="Instagram">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="#" class="social-link" title="YouTube">
      <i class="fab fa-youtube"></i>
    </a>
    <a href="#" class="social-link" title="LinkedIn">
      <i class="fab fa-linkedin"></i>
    </a>
  </div>
</div>

