<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
<footer>
        <button routerLink="home">Inicio</button>
        <button routerLink="cuentas-personalizacion" >Mi Perfil</button>
        <button routerLink="crearreceta">Crear Receta</button>
        <button routerLink="about">About US</button>
    </footer>
    <!-- Footer móvil (visible en móviles) -->
<div class="mobile-footer">
    <div class="footer-item" routerLink="home">
      <i class="fas fa-home"></i>
      <span>Inicio</span>
    </div>
    <div class="footer-item" routerLink="listacompra" >
      <i class="fas fa-shopping-cart"></i>
      <span>Lista compra</span>
    </div>
    <div class="footer-item" routerLink="crearreceta">
      <i class="fas fa-plus"></i>
      <span>Crear receta</span>
    </div>
    <div class="footer-item" routerLink="about">
        <i class="fas fa-cog"></i>
        <span> About Us</span>
      </div>
  </div>

