#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 0.5rem;
    background-color: var(--background-color);
    height: fit-content;
    padding: 1rem;
}
#logo{
    width: 250px;
    height: 300px;
}

.social-icons {
    display: flex;
    gap: 20px; /* Espacio entre los iconos */
  }

  .social-link {
    text-decoration: none;
    color: #000; /* Color negro para los iconos */
    font-size: 32px; /* Tamaño de los iconos */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 8px;
    background-color: #fff; /* Fondo blanco detrás de los iconos */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.3s ease, background-color 0.3s ease;
  }

  .social-link:hover {
    background-color: #f0f0f0; /* Fondo gris claro al pasar el ratón */
    transform: scale(1.1); /* Aumentar tamaño ligeramente */
  }

  .social-link i {
    font-size: 24px; /* Ajusta el tamaño del ícono interno */
  }

 /* Media Queries */
@media (max-width: 768px) {
  #logo {
      width: 150px; /* Más pequeño para tablets */
  }
  .social-link {
      width: 45px;
      height: 45px;
      font-size: 20px;
  }
}

@media (max-width: 480px) {
  #about {
      height: auto; /* Permite que la altura sea ajustable en móviles */
  }
  #logo {
      width: 200px; /* Tamaño reducido para móviles */
  }
  .social-link {
      width: 40px;
      height: 40px;
      font-size: 18px;
  }

}

