<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
<div id="about">
    <img id="logo" src="assets/logohivechefs.png">
    <h1>Sobre Nosotros</h1>
    <p>Somos una empresa dedicada a proporcionar soluciones tecnológicas de alta calidad.</p>
    <div>
      <h2>Nuestro Equipo</h2>
      <div>
        <img [src]="" [alt]="" class="" />
        <h3></h3>
        <p></p>
      </div>
    </div>
     <div class="social-icons">
    <a href="#" class="social-link" title="X">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="#" class="social-link" title="Instagram">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="#" class="social-link" title="YouTube">
      <i class="fab fa-youtube"></i>
    </a>
    <a href="#" class="social-link" title="LinkedIn">
      <i class="fab fa-linkedin"></i>
    </a>
  </div>
</div>

