<main>
  <img id="logo" src="../../../assets/logohivechefs.png" alt="Logo Hive Chefs">
  <app-big-input-field [placeholder]="'Usuario email'" (InputDataChange)="updateMail($event)"></app-big-input-field>
  <app-big-password-field [placeholder]="'Contraseña'" (InputDataChange)="updatePassword($event)"></app-big-password-field>
  <!-- <a href="#">He olvidado la contraseña</a> -->
  <app-big-button [buttonText]="'Registrarse'" (clickEvent)="register()"></app-big-button>
  <app-big-button [buttonText]="'Entrar'" (clickEvent)="login()"></app-big-button>
</main>
