img {
  height: 3rem;
  width: 3rem;
}
li {
  list-style: none;
  display: grid;
  grid-template-columns: 0.5fr 3fr 1fr 1fr;
}
div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
table {
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  background-color: var(--background--secondary);
}
.removebutton {
  background-color: red;
  color: white;
  border: 3px solid black;
}
button {
 border-radius: 10px;
  height: 2rem;
  width: 2rem;
}
.addbutton {
  background-color: green;
  color: white;
  border: 3px solid white;

}
td {
  height: 3rem;
}
input[type='checkbox'] {
  width: 2rem;
  height: 2rem;
}
table input {
 max-width: 6rem;
}
