/* You can add global styles to this file, and also import other style files */
*

body{
  margin: 0;
/* Color styles */
--primary-color: #FF9500;
--background-color: #FFFDEE;
--fade-color: #FFC472;
--background--secondary: #FFECD2;

}
html{
    height: 100vh;
}

